<p style="margin-top: 30px;">用户管理</p> <br/>
<p style="line-height:120px;margin-left: -75px;">
    角色: <select name="" id="part" ng-model="selectedpart">
        <option ng-repeat="item in tabcon">{{item.role}}</option>
    </select>
    状态: <select name="" id="status" ng-model="selectedstate">
        <option ng-repeat="item in statedata">{{item.state}}</option>
    </select>
    登录名: <input type="text" ng-model="text"><button class="btn" ng-click="search()">查询</button>-
</p>
<br/>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>登录名</th>
            <th>真实姓名</th>
            <th>角色</th>
            <th>手机</th>
            <th>邮箱</th>
            <th>状态</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in tabcon| filter:a | filter:part |filter:state |filter:{loginname:val}" style="color:#000">
        <td >{{item.ID}}</td>
        <td >{{item.loginname}}</td>
        <td >{{item. name}}</td>
        <td >{{item. role}}</td>
        <td >{{item.telephone}}</td>
        <td >{{item.email}}</td>
        <td >{{item.state}}</td>
        <td >{{item.creattime}}</td>
        <td >
            <a href="#" class="alter" ng-click="alter(item.ID)">修改</a>
            <a href="#" class="remove" ng-click="remove(item.ID)">删除</a>
        </td>
    </tr>
    </tbody>
</table>
<div class="cls" ng-show="bol">
    <p><span>ID：</span><input type="text" value="{{tar.ID}}"></p>
    <p><span>登录名：</span><input type="text" value="{{tar.loginname}}" ng-model="tar.loginname"></p>
    <p><span>真实姓名：</span><input type="text" value="{{tar.name}}" ng-model="tar.name"></p>
    <p><span>角色：</span><input type="text" value="{{tar.role}}" ng-model="tar.role"></p>
    <p><span>手机：</span><input type="text" value="{{tar.telephone}}" ng-model="tar.telephone"></p>
    <p><span>邮箱：</span><input type="text" value="{{tar.email}}" ng-model="tar.email"></p>
    <p><span>状态：</span><input type="text" value="{{tar.state}}" ng-model="tar.state"></p>
    <p><span>创建时间：</span> <input type="text" value="{{tar.creattime}}" ng-model="tar.creattime"></p>
    <p><button ng-click="sure()">确定</button> <button ng-click="fal()">取消</button></p>
</div>
<div class="change">
    总共有 <span ng-bind="cur"></span> 条数据
    <a href="#" ng-click="prev()" >上一页</a>
    <ul class="list">
        <li ng-repeat="i in arr"><a href="#" ng-click="ck($index)" class="as">{{i}}</a></li>
    </ul>
    <a href="#" ng-click="next()">下一页</a>
    <div class="sou" style="margin-top: 10px;">第 <input type="text" class="page">页</div>
</div>